<div class="container-fluid text-center">
    <form class="form-post-twitter" [formGroup]="postTwitterForm" (ngSubmit)="submitPostTwitter()">
      <h1 class="h3 mb-3 font-weight-normal">Publicar en Twitter</h1>
      <label for="inputMessage" class="sr-only">Texto</label>
      <input type="text" id="inputMessage" class="form-control" placeholder="Texto" formControlName="message" required autofocus>
      <label for="inputPhotoURL" class="sr-only">URL de la foto</label>
      <input type="text" id="inputPhotoURL" class="form-control" placeholder="URL de la foto" formControlName="photo_url">
      <div *ngIf="errorLog" class="alert alert-danger" role="alert"> 
        Debes rellenar ambos campos
      </div>
      <br />
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Publicar</button>
    </form>
  </div>