<div class="container-dash">
  <div class="row-dash">
    <app-dashboard-navbar></app-dashboard-navbar>
    <div class="main">
      <div *ngIf="user === null">
        <!-- hacer un alert para cuando noo estes registrado no te deje entrar -->
      </div>
      <main>
        <div class="card">
          <div class="card-header">
            Bienvenido al dashboard <span *ngIf="user !== null">{{user.userName}}</span>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>En esta seccion encontrarás las publicaciones que has subido</p>
              <footer class="blockquote-footer">Vamos a <cite title="Source Title">romper las redes</cite></footer>
            </blockquote>
          </div>
        </div>
        <div class="card" *ngIf="trendingTwitter !== null">
          <div class="card-header">
            Trending topics de Twitter en <span *ngIf="user !== null">{{user.country}}</span>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center col-12" *ngFor="let trend of trendingTwitter">
                <a [href]="trend.url" target="_blank">{{ trend.name }}</a>
                <span class="badge badge-primary badge-pill">{{ trend.tweet_volume }}</span>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<app-footer></app-footer>
