<div class="aside">
    
    <a href="" class="dashboard"><img src="https://icons.getbootstrap.com/assets/icons/house-fill.svg" alt="" height="30"></a>
    
    <a routerLink="/dashboard/profile" class="dashboard"><img src="https://icons.getbootstrap.com/assets/icons/person-fill.svg" alt="" height="30"></a>
    <a routerLink="/dashboard" class="dashboard"><img src="../../../assets/images/dashboard50px.png" alt="" height="30"></a>
    <a routerLink="/dashboard/social-media-accounts" class="dashboard"><img src="https://icons.getbootstrap.com/assets/icons/share-fill.svg"  alt="" height="30"></a>
    <a routerLink="/dashboard/post-content" class="dashboard"><img src="https://cdn2.iconfinder.com/data/icons/squircle-ui/32/Edit-512.png" alt="" height="30"></a>
    <!-- <a href="" class="calendar"><img src="../../../assets/images/calendar.png" alt=""></a> -->
    <!-- <a href="" class="question"><img src="../../../assets/images/question50.png" alt=""></a> -->
    <a href="/" class="dashboard" (click)="logout()"><img src="https://icons.getbootstrap.com/assets/icons/door-open-fill.svg" alt="" height="30"></a>
</div>