<div class="aside">
    <a routerLink="/dashboard/profile" class="dashboard"><div class="img-profile"><img src="" alt=""></div></a>
    <a routerLink="/dashboard" class="dashboard"><img src="../../../assets/images/dashboard50px.png" alt=""></a>
    <a routerLink="/dashboard/social-media-accounts" class="dashboard"><img src="https://static.thenounproject.com/png/464914-200.png" alt="" height="50"></a>
    <a routerLink="/dashboard/post-content" class="dashboard"><img src="https://cdn2.iconfinder.com/data/icons/squircle-ui/32/Edit-512.png" alt="" height="50"></a>
    <!-- <a href="" class="calendar"><img src="../../../assets/images/calendar.png" alt=""></a> -->
    <!-- <a href="" class="question"><img src="../../../assets/images/question50.png" alt=""></a> -->
</div>