<section id="social-media-accounts" class="social-media-accounts">
    <div class="container text-center">
        <h1 class="h1">Enlazar redes sociales</h1>
        <div class="row">
            <div class="col-lg-12 col-md-6 mb-lg-0 mb-5">
                <h5 class="font-weight-bold mt-4 mb-3">Twitter</h5>
                <div class="avatar mx-auto">
                    <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png" class="z-depth-1"
                    alt="Sample avatar" height="250" width="250">
                </div>
                <div *ngIf="LoggedTwitter">
                    <p>Cuenta vinculada correctamente</p>
                </div>
                <div *ngIf="!LoggedTwitter">
                    <a class="p-2 fa-lg fb-ic" (click)="loginTwitter()" target="_blank">Vincular cuenta</a>
                </div>
            </div>  
        </div>
    </div>
</section>