<div class="container-dash">
    <div class="row-dash">
        <app-dashboard-navbar></app-dashboard-navbar>
        <div class="main">
          <header>
              <div class="card">
                  <div class="card-header">
                    Información de perfil
                  </div>
                  <div class="card-body">
                    <form class="form-post-twitter" [formGroup]="profileForm" (ngSubmit)="submitProfile()">
                      <div class="form-group">
                        <label for="inputUsername">Nombre</label>
                        <input type="search" id="inputUsername" class="form-control" placeholder="Nombre" formControlName="userName">
                      </div>

                      <div class="form-group">
                        <label for="inputCompany">Empresa</label>
                        <input type="search" id="inputCompany" class="form-control" placeholder="Empresa" formControlName="company">
                      </div>

                      <div class="form-group">
                        <label for="inputCountry">País</label>
                        <select id="inputCountry" name="country" class="form-control" placeholder="País" formControlName="country">
                          <option value="Global">Global</option>
                          <option value="Belgium">Belgium</option>
                          <option value="Denmark">Denmark</option>
                          <option value="France">France</option>
                          <option value="Germany">Germany</option>
                          <option value="Spain">Spain</option>
                        </select>
                      </div>
                      <div *ngIf="errorReg" class="alert alert-info" role="alert"> 
                        Error al intentar actualizar el perfil
                      </div>
                      <div *ngIf="updateOk" class="alert alert-success" role="alert"> 
                        Datos actualizados correctamente
                      </div>
                      <br />
                      <button type="submit" class="btn btn-primary btn-block my-2 my-sm-0">Enviar</button>
                    </form>
                  </div>
                </div>
          </header>
        </div>
    </div>
  </div>


<app-footer></app-footer>